<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>
        <label>Password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">Register</button>
    </form>

    <br>
    <!-- Button to go to login page -->
    <button onclick="window.location.href='/login_page'">Login</button>
</body>
</html>
